<%- include('header'); %>

<div class=" container jumbotron mr-auto mr-top">
    <h1 class="mr-auto">Exercices</h1>
</div>

<div class="container jumbotron mr-auto mr-top">



    <div class="row">
        <% tabEx.forEach(ex =>{ %>
        <div class="col-lg-4 mr-bot">
            <a href="/exercices/<%= ex.id%>">
                <div class="card h-100 text-white bg-dark mb-3">
                    <h3 class="card-header">
                        Muscle
                    </h3>
                    <div class="card-body">
                        <h5 class="card-title"><%= ex.lib %></h5>

                    </div>
                    <img style="height: 200px; width: 100%; display: block;"
                        src="../public/images/exercices/<%= ex.img1 %>"
                        alt="image de l'exercice">

                    <div class="card-footer text-white mr-top">
                        difficulté : <%= ex.difficulte %>
                    </div>
                </div>
            </a>
        </div>

        <% }) %>
    </div>
</div>
<div class="container mr-top">

    <div class="mr-auto">
        <ul class="pagination pagination-md justify-content-center ">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>

</div>

<%- include('footer'); %>