<%- include('header'); %>

<div class=" container jumbotron mr-auto mr-top">
    <h1 class="mr-auto">Exercices</h1>
</div>

<div class="container jumbotron mr-auto mr-top mr-bot">
    <div class="row">
        <% tabEx.forEach(ex =>{ %>
        <div class="col-lg-4 mr-bot">
            <a href="/exercices/<%= ex.id%>">
                <div class="card h-100 text-white bg-dark mb-3">
                    <h3 class="card-header">

                        <%ex.muscles.forEach(muscle =>{ %>
                        <%= muscle.lib %>
                        <% })%>
                    </h3>
                    <div class="card-body">
                        <h5 class="card-title"><%= ex.lib %></h5>

                    </div>
                    <img style="height: 200px; width: 100%; display: block;"
                        src="../public/images/exercices/<%= ex.img1 %>" alt="image de l'exercice">

                    <div class="card-footer text-white mr-top">
                        difficulté : <%= ex.difficulte %>
                    </div>
                </div>
            </a>
        </div>

        <% }) %>
    </div>
</div>

<%- include('footer'); %>