<%- include('header'); %>

<div class=" container jumbotron mr-auto mr-top">
  <h1 class="mr-auto">Mes Programmes</h1>
  <a href="/programmes/mesProgrammes/creer" class="btn btn-warning mr-top-40">Ajouter un programme</a>
</div>

<div class="container mr-top-40">
  <div id="error" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="container jumbotron mr-auto mr-top mr-bot">

  <div class="row">
    <% if (tabProg.length == 0){ %>
    <span>Aucun programme</span>
    <%}%>
      <% tabProg.forEach(prog =>{ %>
    <div class="col-lg-4">
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">
          <span class="d-none"><%= prog.id%></span>
          <h3 class="text-white"><%= prog.lib%></h3>
          <button class="btn btn-danger deleteBtn"> X</button>
        </div>
        <a href="/programmes/mesProgrammes/<%= prog.id%>">
          <div class="card-body">
            <h4 class="card-title text-white">Description</h4>
            <p class="card-text text-white"><%= prog.desc%></p>
          </div>
        </a>
      </div>

    </div>
    <%})%>
  </div>
</div>

<script src="/public/scripts/deleteProgAjax.js"></script>


<%- include('footer'); %>