<%- include('header'); %>

<div class=" container jumbotron mr-auto mr-top">
  <h1 class="mr-auto">Mon Profile</h1>
</div>


<div class="container jumbotron mr-auto mr-bot mr-top">

  <img width="190" height="200"
    src="https://www.jaykhodiyar.com/wp-content/plugins/all-in-one-seo-pack-pro/images/default-user-image.png"
    alt="user's picture">

  <table class="mr-top-40">
    <tr>
      <td class="bold">Prénom:</td>
      <td><%= utilisateur.prenom %></td>
    </tr>
    <tr>
      <td class="bold" style="width:120px">Nom</td>
      <td><%= utilisateur.nom %></td>
    </tr>
    <tr>
      <td class="bold">Email:</td>
      <td><%= utilisateur.mail %></td>
    </tr>
  </table>
</div>


<%- include('footer'); %>