<%- include('header'); %>

<div class="container mr-top-40">
    <button id="backBtn" class="btn btn-warning "><i class="fas fa-arrow-left"></i> Retour</button>
</div>


<div class=" container jumbotron mr-auto mr-top">
    <span id="idProg" class="d-none"><%= idProg %></span>
    <h1 class="mr-auto">Exercice(s) du programme (<%= exs.length %>) </h1>
</div>

<div class="container mr-top-40">
    <div id="error" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<div class="container jumbotron mr-auto mr-top">
    <div id="error" style="display:none" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% if(exs.length == 0){ %>
    <span>Aucun exercice dans le programme</span>
    <% } %>
    <% exs.forEach(ex =>{ %>
    <div class="card mb-3 text-white bg-dark addMrgLR">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img class="imgSize" src="/public/images/exercices/<%= ex.img1 %>" alt="Photo de l'étudiant">
            </div>
            <div class=" col-md-9">
                <div class="card-header">
                    <span class="d-none"><%=ex.id %></span>
                    <button class="btn btn-danger deleteBtn"> X</button>
                    <h5 class="card-title"><%= ex.lib %></h5>
                </div>
                <div class=" card-body">
                    <table class="mr-bot-20">
                        <tr class="mr-bot">
                            <td>Série(s)</td>
                            <td class="cadre"><%= ex.nbSerie %></td>
                            <td class="cadre d-none"><input type="number" require min="0" id="inputNbSerie"></td>
                        </tr>
                        <tr class="spacer">
                        </tr>
                        <tr>
                            <td style="width:120px">Répétition(s)</td>
                            <td class="cadre"><%= ex.nbRep %></td>
                            <td class="cadre d-none"><input type="number" require min="0" id="inputNbRep"></td>
                        </tr>
                    </table>
                    <a class="btn btn-warning" href="/exercices/<%= ex.idEx %>">Consulter</a>
                    <button class="btn btn-success updtBtn">Modifier</button>
                    <button class="btn btn-danger cancelBtn d-none">Annuler</button>
                    <button class="btn btn-success updtSaveBtn d-none">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <% }) %>
</div>

<script src="/public/scripts/deleteExProgAjax.js"></script>
<script src="/public/scripts/backBtn.js"></script>
<script src="/public/scripts/updateProgAjax.js"></script>

<%- include('footer'); %>